@charset "utf-8";

/*
 * Page name
 * Copyright 2025
 * Auther
 * Licensed
*/

/* ------------------------------*\
    Content
\* ------------------------------*/
/**
 * Content ..............You are reading it!
 * Components.............元件樣式
 ** banner................頁尾橫幅
 ** footer................頁尾
*/

/* ------------------------------*\
    Compnents
\* ------------------------------*/

/* --------------*\
    banner
\* --------------*/
.banner{
    background-color: var(--primary--200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn-dark{
    background-color: var(--neutral--900);
    color: var(--neutral--white);

}

@media (max-width: 576px) {
	.btn{
		padding: 8px 16px;
	}
}

/* --------------*\
    footer
\* --------------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer_list {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer .footer_nav {
    display: flex;
}

.footer  .footer_item{
    padding-top: 12px;
	padding-bottom: 12px;
}
@media (max-width: 576px) {
    .footer .footer_item {
        padding-left: 12px;
		padding-right: 12px;
    }
.footer .footer_list,.footer .footer_item{
    display: inline-flex;
}

@media (max-width: 576px) {
    .footer,
    .footer .footer_list,
    .footer .footer_nav,
    .footer .footer_item {
        display: block;
    }
.copyright{
    border-top: 1px solid var(--neutral--300);
    padding-top: 32px;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;
    text-align: center;
}
.copyright .copyright_item{
    color: var(--neutral--600);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}