@charset "utf-8";

/*
 * Page name
 * Copyright 2025
 * Auther
 * Licensed
*/

/* ------------------------------*\
    Content
\* ------------------------------*/
/**
 * Content ..............You are reading it!
 * Navigation
 * breadcrumb
 * products
 * banner
 * footer

*/

/*------------------------------------*\
    Navigation
\*------------------------------------*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navbar .container{
    justify-content: space-between;
    display: inline-flex;
}

.navbar .nav_item{
    padding-top: 12px;
	padding-bottom: 12px;
}

.navbar .nav_person{
    padding: 12px;
}

.navbar .nav_list,.navbar .nav_item{
    display: inline-flex;
}
.navbar .container,.navbar .nav_person{
    align-content: center;
}


/*------------------------------------*\
    breadcrumb
\*------------------------------------*/

.breadcrumb{
    display: flex;
}

.breadcrumb-item +.breadcrumb-item:before{
    content: "/";
    padding: 0 12px;
    color: var(--neutral--300);
    font-weight: 700;
}

.breadcrumb-link{
    color: var(--neutral--600);
}

.breadcrumb-item{
    font-weight: 500;
}
/*------------------------------------*\
    products
\*------------------------------------*/

/* products_nav */
.products_nav_item .active{
    color: var(--primary--400);
}

/* pagination  */
.pages{
    display: flex;
    justify-content: center;
    align-content: center;
}
.page-item .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}
.page-item .active{
    background-color: var(--primary--300);
    font-weight: 500;
}


/*------------------------------------*\
    banner
\*------------------------------------*/
.banner{
    background-color: var(--primary--200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn-dark{
    background-color: var(--neutral--900);
    color: var(--neutral--white);

}
/*------------------------------------*\
    footer
\*------------------------------------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer_list {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer .footer_nav {
    display: flex;
}

.footer  .footer_item{
    padding-top: 12px;
	padding-bottom: 12px;
}

.footer .footer_list,.footer .footer_item{
    display: inline-flex;
}

.copyright{
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;
    text-align: center;
}
.copyright .copyright_item{
    color: var(--neutral--600);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}